/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width-100 {
  width: 100%;
}

.border-solid {
  border: 1px solid;
}

.align-items-center {
  align-items: center;
}

.font-size-large {
  font-size: large;
}

.font-size-xlarge {
  font-size: x-large;
}

.font-size-xxxlarge {
  font-size: xxx-large;
}

.text-center {
  text-align: center;
}
